<div>
	<a href='/workouts'>Return to Workouts</a>
	<h1><%= @workout.name %></h1>

	<form action="/workouts/<%= @workout.id %>/delete" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete Workout">
	</form>

	<br>


	<!-- update workout functionlity -->
	<p>Load your workout program with exercises</p>
	<div>
		<form action="/workouts/<%= @workout.id %>/create_exercise" method="post">
			<input type="hidden" name="workout_id" value="<%= @workout.id %>">
			<input type="text" name="exercise" placeholder="Exercise">
			<textarea rows="4" cols="20" name="description" placeholder="Description"></textarea>
			<input type="text" name="target_zone" placeholder="Target Zone">
			<select name="intensity" placeholder="Intensity">
				<option value="easy">Easy Peasy</option>
				<option value="intermediate">Intermediate</option>
				<option value="hard">Crazy F**king Hard</option>
			</select>
			<input type="submit" value="Add Exercise">
		</form>
		</div>

		<h3>Exercises in this workout</h3>

		<table class="exercise-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Target_zone</th>
          <th>Intensity</th>
        </tr>
      </thead>
      <tbody>
        <% @workout.exercises.each do |exercise| %>
           <tr>
            <td><%= exercise.name %></td>
            <td><%= exercise.description %></td>
            <td><%= exercise.target_zone %></td>
            <td><%= exercise.intensity %></td>
            <td><a href="/workouts/<%= exercise.id%>/delete">Delete</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>